<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="/main.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<nav>
  <p style="margin-left : 8px">VOTE ON IT</p>
</nav>

<body>

  <div class="dashboard">
    <h3>Current Vote Results For:</h3>
    <h1><%= title %></h1>
  </div>
  <div style="margin: 0 auto; width: 600px;">
  <canvas id="myChart" width="500" height="500"></canvas>


  </div>

  <button class="choice_btn">Back to Poll</button>
</body>

</html>
