<!DOCTYPE html>
<html>

  <head>
    <title>Login or register to create polls</title>

    <link href="/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

  </head>
  <nav>
    <p>VOTE ON IT</p>
  </nav>

  <body style="background-color: #4286f4">

    <div style="text-align : center">
      <h2>REGISTER</h2>
      <a href="/users/signup" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span> Sign up</a>

      <h2>LOGIN</h2>
      <a href="/users/login" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-log-in"></span> Login </a>
    </div>
  </body>

</html>
