<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link href="/main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<nav>
  <p style="margin-left : 8px">VOTE ON IT</p>
</nav>

<body style=" background-color: #4286f4">
  <div style="text-align : center">
    <form action="" method="post">
      <div id="credentials">
        <input type="text" placeholder="Username" name="login">
        <input type="password" placeholder="Password" name="login">
      </div>
    </form>
    <button type="submit">Login</button>
  </div>



</body>

</html>
