<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/main.css" rel="stylesheet" type="text/css">
  </head>
  <nav>
    <p style="margin-left : 8px">VOTE ON IT</p>
  </nav>
  <body>
    <div class="dashboard">
      <h1>DASHBOARD</h1>
      <p1>Either create a new poll or check your polls</p1>
      <button class="btn_green" type="button" onclick="location.href = 'https://votingapp-hcuffy.c9users.io/public/newpoll.html'">New Poll</button>
      <button class="btn" type="button" onclick="location.href = 'https://votingapp-hcuffy.c9users.io/public/mypolls.html'">My Polls</button>
    </div>
    <div style="text-align : center">
      <h3>Vote on it!</h3>
    </div>
  </body>
</html>
