<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link href="/main.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    function callDelete(id) {
      $.ajax({
        url: '/polls/deletepoll/' + id,
        type: 'DELETE',
        success: function(result) {
          alert("Item Deleted");
          window.location.reload();
        },
        error: function() {
          alert("The item cannot be deleted ath this time.");
        }
      });
    }
  </script>
</head>
<nav>
  <p style="margin-left : 8px">VOTE ON IT</p>
</nav>

<body>
  <div class="dashboard">
    <h1>DASHBOARD</h1>
    <button class="btn_green" type="button">New Poll</button>
    <button class="btn_blue" type="button">My Polls</button>
  </div>
  <div style="margin: 0 auto; width: 455px; position:relative;">
    <h3>Select a Poll</h3>
    <% for (var i = 0; i < polls.length; i++) { %>
      <a href="/polls/vote/<%= polls[i]._id %>">
        <%= polls[i].title %>
      </a><button onclick="callDelete('<%= polls[i]._id %>')" class="delete_btn">Delete</button>
      <% } %>
  </div>
</body>

</html>
