<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.choice_btn').click(function(e) {
        $("#options").append('<input type="text" placeholder="Additional Option" name="option">')
      });
    });
  </script>
  <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<nav>
  <p style="margin-left : 8px">VOTE ON IT</p>
</nav>

<body>
  <div class="dashboard">
    <h1>DASHBOARD</h1>
    <p1>Either create a new poll or check your polls</p1>
    <!-- <button class="btn_green" type="button">New Poll</button>
    <button class="btn_blue" type="button">My Polls</button> -->
    <a href="/polls/mypolls" class="a_border"><button class="btn_blue" type="button">Go to Polls</button></a>
  </div>
  <div style="text-align : center">
    <h2>Create A New Poll</h2>
    <h3>Question:</h3>
    <form action="/polls/newpoll" method="post">
      <input type="text" placeholder="Which pet do you prefer?" name="title" required>
      <h3>Choices:</h3>
      <div id="options">
        <input type="text" placeholder="A Dog" name="option" required>
        <input type="text" placeholder="A Cat" name="option" required>
      </div>
      <button type="submit" id="submit_btn">Submit</button>
    </form>
    <button type="button" class="choice_btn">New Option</button>
  </div>
</body>

</html>
