<!DOCTYPE html>
<html style=" background-color: #4286f4">

<head>
  <title></title>
  <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<nav>
  <p style="margin-left : 8px">VOTE ON IT</p>
</nav>

<body>
  <div style="text-align : center">
    <form action="/signup" method="post">
      <div>
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
      </div>
    </form>
    <button type="submit">Login</button>
  </div>
</body>

</html>
