<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<nav>
  <p>VOTE ON IT</p>
</nav>

<body>
  <div class="form_elements">
    <form action="/users/signup" method="post">
      <div id="credentials">
        <label class="login_label">Create an account.</label>
        <input type="text" placeholder="New username" name="username">
        <input type="password" placeholder="New password" name="password">
      </div>
      <button type="submit">Sign up</button>
    </form>
  </div >
  <div class="form_elements">
    <hr>
    <p>Already have an account? <a class = "login_text" href="/users/login">Login</a></p>
    <p>Return <a class="login_text" href="/">Home</a></p>
  </div>
</body>

</html>
