body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p1 {
  margin: 8px 0 0 0;
  color: white;
  display: block;
}

.container p {
  text-align: center;
  padding: 0;
}

.dashboard {
  background-color: #4286f4;
  margin: 0 auto;
  text-align: center;
}

.btn_green {
  margin: 20px 8px;
  color: white;
  background-color: #00d40e;
  display: inline-block;
  border: 0;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100px;
  font-weight: 500;
}

.btn_blue {
  margin: 20px 8px;
  color: white;
  background-color: #8e9196;
  display: inline-block;
  border: 0;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 5px;
  width: 100px;
  font-weight: 500;
}

.btn_long {
  margin: 20px 8px;
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: white;
  font-size: 14px;
  border-radius: 3px;
  padding: 10px 5px;
  width: 200px;
  font-weight: 500;
}

.delete_btn {
  background-color: #d12525;
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 2px;
  width: 50px;
  color: white;
  font-weight: 400;
  border: 1px;
  border-style: solid;
  border-color: black;
  right: 0;
  position: absolute;
}

input[type=text], select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px auto 0px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 300px;
  padding: 12px 20px;
  margin: 8px auto 0px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 200px;
  background-color: #00d40e;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  margin: 20px auto 0px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #05af10;
}

.choice_btn {
  width: 200px;
  background-color: #cfd2d6;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  margin: 20px auto 0px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit_btn {
  width: 200px;
  background-color: #cfd2d6;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  margin: 20px auto 0px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px 5px 5px;
  display: table;
  width: 300px;
  text-align: left;
}

a {
  display: inline-block;
  width: 400px;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.btn-lg {
  width: 120px;
  padding: 60px;
  cursor: pointer;
}
